* {
  margin: 0;
}
body {
  min-width: 320px;
  max-width: 1670px;
  margin-left: auto;
  margin-right: auto;
}
@font-face {
  font-family: "OpenSans-Regular";
  src: url("../fonts/OpenSans-Regular.woff");
  font-weight: 400;
}
@font-face {
  font-family: "OpenSans-Bold";
  src: url("../fonts/OpenSans-Bold.woff");
  font-weight: 700;
}
header{
  padding-top: 100px;
}
.header-logo {
  color: #ffffff;
  background-repeat: no-repeat;
  height: 48px;
  background-position: center center;
  margin-left: auto;
  margin-right: auto;
  position: relative;
  z-index: 2;
}

.welcome {
  background-image: url("../images/banner-mobile.jpg");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  background-color: #000000;
  position: relative;
  min-width: 360px;
  min-height: 640px;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 46px;
}
.welcome::after {
  content: "";
  background-color: #000000;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  opacity: 0.45;
}
.container {
  display: flex;
  justify-content: space-around;
}
.menu {
  display: none;
}
.menu__check {
  display: none;
}
.menu__toggle {
  position: absolute;
  top: 31px;
  right: 16px;
  background-color: #ffffff;
  width: 24px;
  height: 4px;
  z-index: 1;
  cursor: pointer;
}
.menu__toggle::before {
  content: "";
  border-top: 4px solid #ffffff;
  width: 24px;
  height: 1px;
  position: absolute;
  top: 8px;
}

.menu__toggle::after {
  content: "";
  border-top: 4px solid #ffffff;
  width: 24px;
  height: 1px;
  position: absolute;
  top: 16px;
}
.title {
  display: block;
  position: relative;
  margin-left: auto;
  margin-right: auto;
  margin-top: 100px;
  max-width: 680px;
  text-align: center;
  flex: none;
  font-size: 26px;
  font-family: OpenSans-Bold, Arial, Sans-Serif;
  color: #ffffff;
  text-transform: uppercase;
  z-index: 1;
}
.trands {
  margin-left: auto;
  margin-right: auto;
}
.trand {
  display: block;
  background-repeat: no-repeat;
  background-position: center center;
  position: relative;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 3px;
  min-width: 360px;
  min-height: 232px;
}
.trand::after {
  content: "";
  background-color: #000000;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  width: 100%;
  height: 100%;
  opacity: 0.45;
}
.trand-picture {
  display: block;
  position: absolute;
  margin-left: auto;
  margin-right: auto;
  background-position: center center;
  background-size: auto;
  background-repeat: no-repeat;
  min-width: 360px;
  width: 100%;
  height: 232px;
}
.trand-picture-1 {
  background-image: url("../images/trend1.jpg");
}
.trand-picture-2 {
  background-image: url("../images/trend2.jpg");
}
.trand-picture-3{
  background-image: url("../images/trend3.jpg");
}
.trand-picture-4 {
  background-image: url("../images/trend4.jpg");
}
.trand-picture-text {
  color: #000000;
  position: absolute;
  width: 1px;
  height: 1px;
  clip: rect(1px, 1px, 1px, 1px);
}
.description-trands {
  position: absolute;
  bottom: 15px;
  left: 14px;
  right: 14px;
  padding-top: 26px;
  padding-left: 22px;
  padding-right: 22px;
  padding-bottom: 26px;
  border: 3px solid #918053;
  z-index: 1;
}
.description-trands-tags {
  display: flex;
  color: #b59f5b;
}
.description-trands-header {
  font-size: 16px;
  font-family: OpenSans-Bold, Arial, Sans-Serif;
  color: #ffffff;
  text-transform: uppercase;
  padding-top: 0;
  margin-top: 0;
}
.column-header {
  position: relative;
  font-family: OpenSans-Bold, Arial, Sans-Serif;
  text-transform: uppercase;
  text-align: center;
  text-decoration: none;
  color: #000000;
  font-size: 16px;
  margin: 30px;
}
.column-header::after {
  content: "";
  width: 64px;
  height: 4px;
  display: block;
  margin: 14px auto 0;
  background-color: #e1d9bd;
}
a {
  color: #ffffff;
}
h2 {
  font-size: 12px;
  color: #000000;
}
.news {
  margin-left: auto;
  margin-right: auto;
  padding-top: 46px;
}
.basic {
  margin-left: auto;
  margin-right: auto;
}
.additionally {
  width: 330px;
  display: block;
  margin-left: auto;
  margin-right: auto;
}
h3 {
  font-size: 10px;
  color: #000000;
}
.theme {
  width: 326px;
  margin-left: auto;
  margin-right: auto;
  padding-top: 14px;
}
.theme-type {
  display: flex;
  list-style-type: none;
  padding-left: 0;
  text-transform: uppercase;
  font-family: OpenSans-Bold, Arial, Sans-Serif;
  font-size: 14px;
  margin-bottom: 14px;
  text-align: center;
}
.theme-type-element {
  margin-right: 30px;
  color: #b59f5b;
}
.theme-type-element > a {
  color: #b59f5b;
  text-decoration: none;
}
.theme-type-element:last-child {
  margin-right: 0;
}
.article-date {
  display: inline-block;
  margin-right: 10px;
  font-family: OpenSans-Regular, Arial, Sans-Serif;
  font-size: 12px;
  color: #888888;
  text-align: center;
  margin-bottom: 16px;
}
.author {
  display: inline-block;
  font-family: OpenSans-Bold, Arial, Sans-Serif;
  font-size: 12px;
  margin-left: 0;
}
.figure-theme {
  display: block;
  margin: auto;
  width: 330px;
  height: 253px;
}
.post {
  margin-left: auto;
  margin-right: auto;
  width: 360px;
}
.post::after {
  content: "";
  width: 330px;
  height: 4px;
  display: block;
  margin-top: 14px;
  margin-bottom: 28px;
  margin-left: auto;
  margin-right: auto;
  background-color: #f4f7f6;
}
.post-header {
  width: 330px;
  text-transform: uppercase;
  font-family: OpenSans-Bold, Arial, Sans-Serif;
  font-size: 16px;
  text-decoration: none;
  margin-bottom: 16px;
}
.article-news {
  width: 326px;
  font-family: OpenSans-Regular, Arial, Sans-Serif;
  font-size: 15px;
  margin: 0 auto 15px auto;
}
.search-group {
  display: flex;
}
.field {
  width: 240px;
  height: 45px;
  margin-left: auto;
  background-color: #f4f7f6;
  outline: none;
  border: none;
  padding-left: 20px;
  padding-right: 20px;
  font-family: OpenSans-Regular, Arial, Sans-Serif;
  font-size: 13px;
  color: #828383;
}
.field2 {
  width: 285px;
  height: 45px;
  margin-left: auto;
  background-color: #f4f7f6;
  outline: none;
  border: none;
  padding-left: 20px;
  padding-right: 20px;
  font-family: OpenSans-Regular, Arial, Sans-Serif;
  font-size: 13px;
  color: #828383;
}
.button {
  border: none;
  width: 45px;
  height: 45px;
  margin-right: auto;
  background-image: url("../svg/search.svg");
  background-color: #b59f5b;
  background-size: 20px;
  background-repeat: no-repeat;
  background-position: center center;
}
.mailing {
  width: 325px;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 106px;
  outline: none;
  border: none;
  padding: 0;
  font-family: OpenSans-Regular, Arial, Sans-Serif;
  font-size: 13px;
  color: #828383;
}
.subscribe {
  width: 325px;
  height: 47px;
  margin-top: 18px;
  background-color: #b59f5b;
  outline: none;
  border: none;
  padding: 0;
  text-transform: uppercase;
  font-family: OpenSans-Bold, Arial, Sans-Serif;
  font-size: 14px;
  color: #ffffff;
}
.right-column {
  margin-top: 45px;
  margin-left: auto;
  margin-right: auto;
  width: 330px;
}
.right-column-post {
  display: flex;
  height: 70px;
  margin-bottom: 22px;
}
.right-column-post-position {
  margin-left: 20px;
}
.right-column-post-header {
  font-family: OpenSans-Bold, Arial, Sans-Serif;
  text-transform: uppercase;
  text-align: center;
  text-decoration: none;
  color: #000000;
  font-size: 12px;
}
.article-date-right-column {
  display: block;
  font-family: OpenSans-Regular, Arial, Sans-Serif;
  font-size: 10px;
  color: #888888;
}
.theme-right {
  padding-left: 0;
  width: 326px;
  font-size: 14px;
  font-family: OpenSans-Bold, Arial, Sans-Serif;
  list-style-type: none;
}
.theme-right-common {
  display: flex;
  padding-bottom: 13px;
  border-bottom: 1px solid #f4f7f6;
}
.theme-right-name {
  display: inline-block;
  color: #000000;
  text-decoration: none;
  margin-top: 10px;
  margin-right: 5px;
}
.theme-right-number {
  color: #b59f5b;
  margin-top: 5px;
}
.tags {
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
  width: 325px;
  text-transform: uppercase;
  font-family: OpenSans-Bold, Arial, Sans-Serif;
  font-size: 12px;
  padding-left: 0;
}
.tags-item {
  background: #ffffff;
  border: 3px solid #f4f7f6;
  list-style-type: none;
  margin-right: 5px;
  margin-bottom: 6px;
}
.tags-link {
  display: block;
  color: #000000;
  text-decoration: none;
  padding: 0px 12px;
}
.our-products {
  margin-left: auto;
  margin-right: auto;
}
.product-column {
  min-width: 330px;
  margin-left: auto;
  margin-right: auto;
}
.product-article {
  margin-left: auto;
  margin-right: auto;
}
.our-product-style {
  display: block;
  margin: auto;
  width: 330px;
  height: 223px;
}
.our-product {
  display: block;
  position: relative;
  top: -26px;
  margin: 43px auto 0 auto;
  width: 282px;
  height: 282px;
  justify-content: center;
  background-size: cover;
}
.description {
  position: relative;
  width: 326px;
  border: 4px solid #b59f5b;
  margin: auto;
  padding-top: 54px;
  padding-left: 20px;
  padding-bottom: 25px;
  padding-right: 0;
  z-index: 1;
}
.product-header {
  text-transform: uppercase;
  font-family: OpenSans-Bold, Arial, Sans-Serif;
  font-size: 17px;
  text-decoration: none;
  margin: 0 auto;
}
.product-description {
  width: 280px;
  font-family: OpenSans-Regular, Arial, Sans-Serif;
  font-size: 15px;
}
.buying {
  display: flex;
  width: 285px;
  align-items: center;
  justify-content: space-between;
  padding-top: 25px;
}
.product-tag {
  color: #b59f5b;
  text-decoration: none;
}
.shop {
  min-width: 138px;
  min-height: 48px;
  max-width: 359px;
  max-height: 125px;
  background-color: #b59f5b;
  outline: none;
  border: none;
  padding: 0;
  text-transform: uppercase;
  font-family: OpenSans-Bold, Arial, Sans-Serif;
  font-size: 14px;
  color: #ffffff;
}
.price-old {
  text-decoration: line-through;
  font-family: OpenSans-Bold, Arial, Sans-Serif;
  font-size: 14px;
}
.price-now {
  font-family: OpenSans-Bold, Arial, Sans-Serif;
  font-size: 20px;
}
.widget {
  background-color: #f4f7f6;
  padding-top: 30px;
  padding-bottom: 30px;
  width: 95%;
  max-width: 1170px;
  margin-top: 64px;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 74px;
}
.widget-socials {
  display: flex;
  justify-content: center;
  list-style: none;
  padding-left: 0;
}
.widget-social {
  margin-right: 30px;
}
.widget-social:last-child {
  margin-right: 0;
}
.widget-link {
  background-size: 20px;
  color: #000000;
  display: inline-block;
  width: 24px;
  height: 24px;
  background-repeat: no-repeat;
  background-position: center;
}
.widget-link-twitter {
  background-color: #f4f7f6;
  background-image: url("../svg/004-twitter.svg");
}
.widget-link-pinterest {
  background-image: url("../svg/001-pinterest.svg");
}
.widget-link-facebook {
  background-image: url("../svg/002-facebook-logo.svg");
}
.widget-link-instagram {
  background-image: url("../svg/005-instagram.svg");
}
.widget-link-tumblr {
  background-image: url("../svg/003-tumblr.svg");
}
.widget-link-text {
  color: #000000;
  position: absolute;
  width: 1px;
  height: 1px;
  clip: rect(1px, 1px, 1px, 1px);
}
footer {
  padding-bottom: 41px;
}
.copy-right {
  background-color: #ffffff;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
}
.copy-right-style {
  font-size: 12px;
  font-family: OpenSans-Bold, Arial, Sans-Serif;
  color: #999999;
  text-decoration: none;
}
.hidden {
    display: flex;
	justify-content: center;
	align-items: center;
	position: absolute;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
	z-index: 9999;	
	/* visibility: hidden; */
}
.hidden::after {
	content: "";
	background-color: #000000;
	opacity: 0.65;
	position: absolute;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
}
.hidden::before {
    content: "";
    display: block;
    margin-bottom: 555px;
	margin-left: 265px;
	width: 30px;
	height: 30px;
	padding: 0;
	cursor: pointer;	
	position: absolute;
	background-image: url("../svg/cross.svg");
	background-size: 30px;
	background-repeat: no-repeat;
	background-position: center center;
	z-index: 9999;
}
.hidden-box {
	box-sizing: border-box;
	width: 310px;
	padding: 40px;	
	position: relative;
	z-index: 2;
	background-color: #ffffff;
}
.send {
  width: 230px;
  height: 47px;
  margin-top: 18px;
  background-color: #b59f5b;
  outline: none;
  border: none;
  padding: 0;
  text-transform: uppercase;
  font-family: OpenSans-Bold, Arial, Sans-Serif;
  font-size: 14px;
  color: #ffffff;
}
.field3 {
  width: 190px;
  height: 245px;
  margin-left: auto;
  background-color: #f4f7f6;
  outline: none;
  border: none;
  padding-top: 20px;
  padding-left: 20px;
  padding-right: 20px;
  line-height: 20px;
  vertical-align: 20px;
  font-family: OpenSans-Regular, Arial, Sans-Serif;
  font-size: 13px;
  color: #828383;
}
 @media (min-width: 768px) and (max-width: 1199px), (orientation: landscape) and (max-width: 767px) {
body {
  min-width: 768px;
  max-width: 1199px;
  margin-left: auto;
  margin-right: auto;
}
  .welcome {
    background-image: url("../images/banner-bg-tablet.jpg");
    margin-bottom: 0;
  }
  .trands {
  margin-bottom: 0;
  min-width: 768px;
}
  .trands-column {
    display: flex;
	flex-wrap: wrap;
    justify-content: space-around;
  }
  .trand {
    display: block;
    margin-left: 0;
    margin-right: 0;
	min-width: 381px;
  }
  .figure-theme {
    float: left;
    width: 390px;
    height: 302px;
}
.post::after {
    width: 390px;
    margin-bottom: 30px;
} 
  .news {
    display: flex;
    justify-content: space-around;
    margin: 0;
	padding-top: 0;
	margin-left: auto;
	margin-right: auto;
  }
  .basic {
    margin: 0;
	margin-left: 33px;
  }
  .theme-type-post {
	width: 326px;
  }
  .additionally {
    width: 270px;
	margin-right: 33px;
  }
  .right-column {
    margin-top: 65px;
	width: 270px;
  }
.field {
  width: 185px;
}
  .field2 {
    width: 230px;
}
.mailing {
  width: 270px;
}
.subscribe {
  width: 270px;
}
.our-products{
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  min-width: 768px;
}
.product-column{
	width: 45%;
}
.product-column:nth-child(2n+1){
	margin-left: 33px;
}
.product-column:nth-child(2n+2){
	margin-right: 33px;
}
}
@media (min-width: 1200px)/*, (orientation: landscape) and (min-width: 768px) and (max-width: 1199px) */{
header{
  padding-top: 0;
}
  .welcome {
    background-image: url("../images/banner-bg.jpg");
    background-repeat: no-repeat;
    background-position: center center;
    background-size: auto;
    background-color: #000000;
    position: relative;
    min-height: 455px;
    padding-top: 40px;
    margin-bottom: 0;
}
  .welcome-title {
    text-transform: uppercase;
  }
  .container {
    display: flex;
    justify-content: space-between;
	width: 95%;
	max-width: 1170px;
	margin: auto;
	padding: 0 15px;
	align-items: center;
	
  }
  .header-logo {
    color: #ffffff;
    background-repeat: no-repeat;
    position: relative;
    width: 180px;
    z-index: 1;
  }
  .menu {
    display: flex;
    font-size: 13px;
    font-family: OpenSans-Regular, Arial, Sans-Serif;
    color: #ffffff;
    text-transform: uppercase;
    z-index: 1;
  }

  .menu__links {
    flex-direction: column;
    display: none;
  }

  .menu__check:checked + .menu__links {
    display: flex;
  }

  .menu__toggle {
    display: none;
  }

  .menu-list {
    display: flex;
    padding-left: 0;
    list-style-type: none;
  }
  .menu-list-item:nth-child(n + 2) {
    margin-left: 35px;
  }
  .menu-link {
    text-decoration: none;
  }
  .menu__links {
    flex-direction: column;
    display: none;
  }

  .menu__check:checked + .menu__links {
    display: flex;
  }
  .title {
    font-size: 45px;
  }
.trands {
  margin-bottom: 0;
}
  .trands-column {
    display: flex;
    justify-content: space-around;
  }
  .trand {
    display: block;
    margin-left: 2px;
    margin-right: 2px;
  }
  .news {
    display: flex;
    justify-content: space-around;
    margin: 0;
	padding-top: 0;
	width: 1170px;
	margin-left: auto;
	margin-right: auto;
  }
  .basic {
    margin: 0;
  }
  .additionally {
    width: 270px;
	margin-left: auto;
	margin-right: 0;
  }
  .theme {
    margin-left: 15px;
  }
  .post {
    display: flex;
    margin-top: 64px;
  }
.post::after {
	display: none;
}
  .post-header {
    width: 366px;
    height: 76px;
    font-size: 10px;
    margin: 0 auto;
  }
  .figure-theme {
    float: left;
    width: 381px;
    height: 294px;
    margin-left: 0px;
    margin-right: 30px;
  }
  .post-article {
    display: flex;
  }
  .theme-type {
    font-size: 14px;
    margin-bottom: 0px;
  }
  .theme-type-element {
    margin-right: 30px;
  }
  .article-date {
    display: inline-block;
    margin-right: 10px;
    height: 64px;
    font-family: OpenSans-Regular, Arial, Sans-Serif;
    font-size: 12px;
    color: #888888;
    margin-bottom: 0;
  }
  .author {
    display: inline-block;
    height: 64px;
    font-family: OpenSans-Bold, Arial, Sans-Serif;
    font-size: 12px;
    margin-left: 0;
  }
  .article-news {
    width: 366px;
    margin: 0 auto;
  }
  .field {
    width: 185px;
  }
  .field2 {
    width: 230px;
  }
  .mailing {
    width: 270px;
    margin: 0;
  }
  .subscribe {
    width: 270px;
    height: 45px;
    margin: 0;
  }
  .right-column {
    margin-top: 65px;
	width: 270px;
  }
  .right-column-post {
    height: 70px;
    margin-bottom: 22px;
  }
  .right-column-post-position {
    margin: 0;
  }
  .right-column-post-header {
    font-size: 14px;
  }
  .right-column-img {
    float: left;
    margin-right: 18px;
    width: 70px;
    height: 70px;
  }
  .article-date-right-column {
    font-size: 12px;
  }
  .tags {
    width: 270px;
  }
  .tags-item {
    background: #ffffff;
    border: 3px solid #f4f7f6;
    list-style-type: none;
    margin-right: 5px;
    margin-bottom: 6px;
  }
  .theme-right {
    width: 270px;
    font-size: 14px;
  }
  .theme-right-name {
    display: inline-block;
    color: #000000;
    text-decoration: none;
    margin-top: 10px;
    margin-right: 5px;
  }
  .theme-right-number {
    color: #b59f5b;
    margin-top: 5px;
  }
  .column-header {
    font-size: 14px;
	width: 270px;
	margin-left: 0;
  }
.column-header-trands-products{
	margin-left: auto;
	margin-right: auto;
}
.our-products {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  width: 1170px;
}
.product-column{
	margin: 0;
	width: 30%;
}
}
